body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

input, select {
    width: 80%;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
